.message {
    margin-top: 80px;
}

.imageAndText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;
    width: 100%;
    padding: 8px 20px;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    bottom: 0px;
    border: 13px solid transparent;
    border-top: 12px solid #F5F7FB;
    /* right: -13px; */
    transform: rotateZ(180deg);
    box-shadow: 0px 0px 0px rgb(29 33 43 / 29%), 0px -1px 0px rgb(29 33 50 / 6%);
    left: -14px;
}

.name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 4px;

}

.messageText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    margin-left: 5px;

    color: #000000;
}
