.sidebar {
    position: fixed;
    background-color: #FFFFFF;
    height: 100vh;
    width: 317px;
    z-index: 2;
    justify-content: center;
    padding-top: 63px;
    display: flex;
    left: -42%;

    transition: all .3s ease-out;
}

.sidebar.open {
    left: 0%;
}

.background {
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.7);
    z-index: 2;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.navLink {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;

    transition: all .2s linear;
}
.navLink:hover {
    color: #58ACFF;
}
.navLink:active {
    color: #3D6B99;
}
.navLink.active {
    color: #0059B2;
    text-decoration: underline;
}
.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
    position: absolute;
    top: 22px;
    right: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
    height: 12px;
    width: 12px;
}

.close img {
}
