.input:focus {
    border: 1px solid #0080FF;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 24px;
}

.inputWrapper {

}

.superInput {
}

.errorInput {
    border: 1px solid #b31232;
}

.errorInput:focus {
    border: 1px solid #CC1439;
}

.error {
    color: #CC1439;
}
