.buttonsContainer {
    display: flex;
    gap: 21px;
}

.clock {
}

.watch {

}

.watch strong {
}

.more {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;


    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 25px;
}
