.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
    margin-top: 7px;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    outline: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

    transition: all .2s linear;
}

.input:focus {
    border: 1px solid #0066CC;
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    outline: none;
}

.button {
    padding: 8px 24px;
    max-width: 78px;
    height: 36px;
    cursor: pointer;
    background: #0066CC;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    outline: none;
    border: none;

    transition: all .2s linear;
}

.button:focus {

}

.button:active {

}

.button:disabled {
    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    outline: none;
    border: none;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
